<!DOCTYPE html>
<html>
    <head>        
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <link rel="stylesheet" href="style.css">
        <title>Success</title>
    </head>
    <body>
        <header>
            <div>
                <h2 id="logo">Random Image Generator</h2>
            </div>
        </header>
        <main>
            <h2>🎉 Submission successful! 🎉</h2>
            <p>Go <a href="/">browsing</a> or <a href="/submit">submit</a> another image</p>
        </main>
    </body>
</html>